@import 'tailwindcss';

@theme {
    --color-dark-100: #C1C2C5;
    --color-dark-200: #A6A7AB;
    --color-dark-300: #909296;
    --color-dark-400: #5c5f66;
    --color-dark-500: #373A40;
    --color-dark-600: #2C2E33;
    --color-dark-700: #25262b;
    --color-dark-800: #1A1B1E;
    --color-dark-900: #141517;
    --color-dark-950: #101113;
}