.title {
	position: relative;
}

.day,
.date {
	opacity: 1;
	width: 100%;
	transition: 0.25s ease-out;
	display: flex;
	transform-origin: left center;
	will-change: transform;
}

.day {
	transform: scale(1);
	opacity: 1;
	transition-delay: 0.25s;
}

.dayHover {
	transform: scale(0.95);
	opacity: 0;
}

.date {
	position: absolute;
	left: 0;
	top: 0;
	transform: scale(0.95);
	opacity: 0;
}

.dateHover {
	transform: scale(1);
	opacity: 1;
	transition-delay: 0.45s;
}
