html,
body,
#__next {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#__next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}